body {
  background: #5d00d6;
  margin: 0;
  display: grid;
  place-items: center;
  color: white;
  font-family: "Poppins";
  height: 100vh;
}

button {
  background: none;
  border: none;
  color: white;
  position: relative;
  padding: 0.5em 1em;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 0.2em;
  outline: none;
  width: 10em;

  &:before {
    position: absolute;
    content: "";
    background: #5000b8;
    z-index: -1;
    height: 100%;
    width: 100%;
    border-radius: 0.2em;
    top: 0.3em;
    left: 0.3em;
    opacity: 0.7;
  }
}

svg {
  position: absolute;
  top: 0.7em;
  left: 0.5em;
  stroke-dasharray: 0 103;
}

p {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  clip-path: circle(0% at 50% 50%);
}
